@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid --caption;
  -webkit-text-fill-color: var(--label);
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --background: #151514;
  --label: #F5F7EF;
  --caption: #C8CAC2;
  --placeholder: #A4A6A0;
  --primary: #C6FE09;
}

body {
  color: var(--label);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-brico);
  font-weight: 800;
  font-size: 80px;
  line-height: 88px;
}

h2 {
  font-family: var(--font-brico);
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;

}

h3 {
  font-family: var(--font-brico);
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;

}

h4 {
  font-family: var(--font-brico);
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;

}

h5 {
  font-family: var(--font-brico);
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;

}

.btnText {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

.inline {
  inline-size: max-content;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 48px;
    line-height: 56px;
  }

  h2 {
    font-size: 52px;
    line-height: 48px;
  }

  h3 {
    font-size: 32px;
    line-height: 32px;
  }

  h4 {
    font-size: 24px;
    line-height: 24px;
  }

  h5 {
    font-size: 18px;
    line-height: 18px;
  }
}