@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid --caption;
  -webkit-text-fill-color: var(--label);
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --background: #151514;
  --label: #F5F7EF;
  --caption: #C8CAC2;
  --placeholder: #A4A6A0;
  --primary: #C6FE09;
}

body {
  color: var(--label);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-brico);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: var(--font-brico);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

h3 {
  font-family: var(--font-brico);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.045rem;
  text-transform: capitalize;

}

h4 {
  font-family: var(--font-brico);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

h5 {
  font-family: var(--font-brico);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.875rem;

}

.inline {
  inline-size: max-content;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 0.875rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 0.875rem;
  }
}